*{
    margin: 0;
    padding: 0;
  }  /* initial the page */
  
  body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:#EFEFEF;
    background-size: cover;
  } /* Set the background color and basic requirements*/
  
  .container{
    width: 100%;
    height: 100%; 
    display: flex;
  }/* Set the navigation words */
  
  .icon{
    color: #ffff;
    font-size: 28px; 
    margin-left: 5px;
    margin-top:5px;
    margin-right: 16px;
  }/* Set the icon basic requirement*/
  
  .navTitle{
    font-family: Rockwell;
    font-size: 15px;
    margin-left: 36px;
    margin-top: 14px;
  }/* Set the nav words */
  
  .left-nav{
    width: 240px;
    height: 100%; 
    background-color: #01415B;  
    position: relative; 
    color: #ffff;
    font-size: 14px;   
    display: flex;   
    flex-direction: column;  
    transition: 0.5s ease;    
  }
  
  /* Set navigation bar */
  
  .left-nav li{
    height: 46px;
    display: flex;   
    align-items: center;  
    padding-left: 12px;  
    border-radius: 10px; 
    cursor: pointer;  
    transition: 0.2s;  
  } /* Set the nav bar */
  
  /* Set up the selection button */
  .left-nav li.active,
  .left-nav li.active:hover{
    background-color: rgba(239,239,239,0.2);
  } /* Use rgba function to set the same colour as the background */
  
  .left-nav li:hover{
    background-color: #EFEFEF;
    opacity: 5%;
  }
  
  .left-nav hr{
    width: 90%;  
    margin: 15px auto;
    border: none;
    border-top: 1px solid  #EFEFEF; 
  } /* Set the line which is used to group different functional button */