*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bely", sans-serif;
}

body{
    min-height: 100vh;
    background-color: #01415B ;
}

header{
    padding: 30px 40px;
    color: #f9f9f9;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

/* Set the  button */
#addBtn {
    padding: 12px 10px 8px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

#addBtn:hover {
    background-color: #bbb;
}

/* Input format */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    outline: 0;
}


.ddl{
    padding-top:10%;
}

#due {
    padding: 14px 10px 8px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.status p{
    font-size: 200%;
    font-weight: 500;
    text-align: center;
    color: #f9f9f9;
}

ul {
    margin: 0;
    padding: 0;
}

/* Set the li format */
 ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    user-select: none; /*用户不能文本选中*/
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px
}

.close:hover {
    background-color: #01415B;
    color: white;
}




